/* media query for small screen */

@media only screen and (max-width: 600px) {
    .search-box {
        background: transparent;
        width: auto;
        padding: 0;
    }

    .search-box input {
        width: 0;
        padding: 0;
    }

    .navbar-center ul li a span {
        display: none;
    }

    .navbar-center ul li a  {
        padding-right: 0;
        margin: 5px;
    }

    .nav-profile-img {
        width: 30px;
    }

    .container {
        padding: 15px 3%;
    }

    .left-sidebar, .right-sidebar {
        flex-basis: 100%;
        position: relative;
        top: unset;
    }

    .main-content {
        flex-basis: 100%;
    }

    .post-stats div {
        margin: 2px 0;
    }

    .post-activity-link span {
        display: none;
    }

    .post-activity-link img {
        margin-right: 0;
    }

    /* profile page */
    .profile-main, .profile-sidebar {
        flex-basis: 100%;
    } 

    .profile-container {
        font-size: 14px;
    }

    .profile-pic {
        width: 100px;
        margin-top: -50px;
    }

    .profile-description {
        font-size: 14px;
    }

    #showMoreLink {
        display: block;
        width: fit-content;
        margin: 10px auto;
        cursor: pointer;
        font-size: 14px;
    }

    .sidebar-activity {
        display: none;
    }

    .sidebar-activity.open-activity {
        display: block;
    }
}